@use "variables" as v;

.title {
    font-family: v.$font;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 109.47%;
    letter-spacing: -0.03em;
    color: #ffffff;

    span {
        color: v.$global-color;
        background: v.$bg-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.subtitle {
    font-family: v.$font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 163.47%;
    letter-spacing: -0.02em;
    color: #d9d9d9;
}
