@font-face {
    font-family: 'Montserrat';
    src: url("../style/fonts/Montserrat/static/Montserrat-Regular.ttf");
}

$cont: 80%;
$font: 'Montserrat';
$bg-color: linear-gradient(to right, #35C66B , #237249);
$global-color: #237249;